@CHARSET "ISO-8859-1";

/******************
 Intro Div 
*******************/

.glyphicon {
	top:0px;
}

/******************
 Table Div 
*******************/
 
.table-div-title{
	text-align:center;
}

.table-square{
	background-color: green;
	height:100px;
	color:white;
}

.table-padding {
	padding-bottom: 15px;
}

/******************
Reservation Div 
*******************/

.edit-reservation-div {
	padding-top:50px;
}

.edit-reservation{
	margin-top:10px;
}
