@CHARSET "ISO-8859-1";

h5{
	color:EEEEEE;
}

.glyphicon {
	top:0px;
}

.table-page-title{
	text-align:center;
}

.table-square{
	background-color: green;
	height:100px;
	color:white;
}

.table-padding {
	padding-bottom: 15px;
}